.filter-bar {
  width: 10%;
  left: 10%;
  padding: 0px;
  border-right: 1px solid #ddd;
  position: relative;
  top: 50rem;
}

.filter-section li {
  margin-bottom: 5px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-group label {
  margin-bottom: 5px;
}
