/* .product-list {
  display: flex;
  position: relative;
  top: 50rem;
  width: 70%;
  left: 13%;
  height: fit-content;
}
.products {
  display: flex;
  width: fit-content;
}
.sort-by {
  position: relative;
  left: 30%;
}
.product-count {
  position: relative;
  width: fit-content;
  height: fit-content;
  left: -30rem;
} */
.product-list {
  display: grid;
  position: relative;
  top: 45rem;
  left: 14rem;
  grid-template-columns: 1;
  grid-template-columns: 2;
}

.products {
  display: flex;
  width: fit-content;
}
.textProduct {
  display: flex;
  gap: 60rem;
}
